*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html{
  background-color: #C4C4C4;
}

.body{
  height: 100vh;
  width: 100vw;
  padding: 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.character {
  background-color: #76D4F2;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.picture {
  width: 150px;
  height: 180px;
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.edit {
  display: flex;
  justify-content: space-between;
}

.all {
  border: 10px solid #C4C4C4;
}

.hpbutton {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.bottombuttons {
  width: 60px;
  height: 30px;
}

.text-container {
  display: flex;
  justify-content: center;
}

.createcharacter {
  margin: 20px;
}

.search {
  margin-bottom: 10px;
  margin-left: 10px;
}

.searchname {
  margin-left: 11px;
}